.movies__container {
  width: calc(100% - 70px * 2);
  margin: 0 auto;
}

.movies__links-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.movies__button-showmore {
  width: 100%;
  height: 36px;
  margin: 50px auto 80px;
  border: none;
  border-radius: 6px;
  background-color: #f4f4f4;
  font-size: 12px;
  line-height: 14.52px;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .movies__container {
    width: calc(100% - 30px * 2);
  }

  .movies__link {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  .movies__link:hover {
    text-decoration: underline;
  }

  .header__profile-button {
    display: none;
  }

  .header__profile-button_burger {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .movies__container {
    width: calc(100% - 10px * 2);
  }
}
