.profile__input-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.profile__input-container:nth-of-type(1) {
  border-bottom: 1px solid #e8e8e8;
}

.profile__input-name {
  width: 50%;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  background-color: #fafafa;
  text-align: right;
}

.profile__error-input {
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

.profile__button {
  width: 100%;
  color: #000000;
  border-style: none;
  background-color: #fafafa;
}

.profile__button:disabled {
  opacity: .2;
}

.profile__link {
  display: block;
  text-align: center;
  color: #ee3465;
  font-size: 13px;
  line-height: 15px;
}
