.authorization__container {
  width: 66%;
  margin: 0 auto;
  padding: 70px 0;
}

.authorization__title {
  margin: 40px 0 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.authorization__input-name {
  margin-top: 20px;
  color: #a0a0a0;
  font-size: 10px;
  line-height: 12px;
}

.authorization__input {
  width: 100%;
  height: 46px;
  border: none;
  border-radius: 8px;
  background-color: #f4f4f4;
  font-size: 13px;
  line-height: 16px;
}

.authorization__button {
  width: 100%;
  height: 45px;
  margin-top: 70px;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
}

.authorization__question {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.authorization__link {
  color: #3456f3;
}

@media screen and (max-width: 1023px) {
  .authorization__container {
    width: calc(100% - 2 * 186px);
    padding: 230px 0;
  }
}

@media screen and (max-width: 767px) {
  .authorization__container {
    width: calc(100% - 2 * 30px);
    padding: 55px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .authorization__title {
    margin-top: 50px;
  }

  .authorization__question {
    font-size: 12px;
    line-height: 15px;
  }
}
